.weather-app-body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: #f3f4f6;
    font-family: sans-serif;
}

.weather-container {
    background-color: #ffffff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding-top: 30px;
    padding-right: 90px;
    padding-left: 90px;
    text-align: center;
}

.weather-container h1 {
    font-size: 1.875rem;
    font-weight: 700;
    color: #1f2937;
}

.status-message {
    font-size: 0.875rem;
    color: #2563eb;
    margin-bottom: 1rem;
}

.temperature-card {
    background-color: #2563eb;
    color: #ffffff;
    /* padding: 1.5rem; */
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top : 0.5rem;
    padding-bottom : 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.card-title {
    font-size: 1.25rem;
    font-weight: 500;
    opacity: 0.9;
}

.card-value {
    font-size: 3.75rem; 
    font-weight: 800;
    margin-top : 0.5rem;
}

.update-time {
    font-size: 0.875rem;
    color: #6b7280;
    margin-top: 0.5rem;
}